body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

 /* section{
    padding-top: 120px;
    padding-bottom: 120px;
}  */
/* Header */

.header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.part-logo {
  color: #2e2f42;
}

.header-navigation{
    display: flex;
    align-items: center;
    gap: 76px;
    flex-grow: 1;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex; 
    gap: 40px;
}

.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-list-item:hover {
  color: #404bbf;
}

.header-list-item:focus {
  color: #404bbf;
}


.address-menu{
    display: flex;
    gap: 40px;
}

.address-list {
  font-style: normal;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-item:hover {
  color: #404bbf;
}

.address-item:focus {
  color: #404bbf;
}

/* Main content */
.btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  align-items: end;
  margin: 0 auto;
  border-radius: 4px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  border: none;
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}
/* Section 1 */

.main-section {
  background-color: #2e2f42;
  display: flex;
  padding-top: 188px;
  padding-bottom: 188px;

}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

}

/* Section 2 */
.section{
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-about {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: none;
}

.box-about{
display: flex;
gap: 24px;
}

.list-about{
  flex-basis: calc((100% - 72px) / 4);
}

.title-list-about {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 */

.section-team {
  background-color: #f4f4fd;
  padding: 120px, 0;
}

.title-third-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.box-section-two{
  padding-top: 120px;
  padding-bottom: 120px;
}

.box-team-list{
  display: flex;
  gap: 24px;
}

.list-team {
  background-color: #ffffff;
}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.container-title-our{
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 32px;
}

/* Section 4 */

.box-section-three{
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-porfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-menu{
    /* flex-basis: calc((100% - 24px) / 3); */
   
}

.item-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 8px;

}

.portfolio-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 16px;
  margin-bottom: 32px;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-content {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-part-logo {
  color: #f4f4fd;
}
