body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

 /* section{
    padding-top: 120px;
    padding-bottom: 120px;
}  */
/* Header */

.header{
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.part-logo {
  color: #2e2f42;
}

.header-navigation{
    display: flex;
    align-items: center;
    gap: 76px;
    flex-grow: 1;
}

.item-studio-effect::after{
  content: "";
  border-radius: 2px;
    width: 48px;
    height: 4px;
    color: #404bbf;
    background: #404bbf;
    display: flex;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex; 
    gap: 40px;
}

.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-studio-effect {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-item:hover {
  color: #404bbf;
}

.header-list-item:focus {
  color: #404bbf;
}


.address-menu{
    display: flex;
    gap: 40px;
}

.address-list {
  font-style: normal;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover {
  color: #404bbf;
}

.address-item:focus {
  color: #404bbf;
}

/* Main content */
.btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  align-items: end;
  margin: 0 auto;
  border-radius: 4px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}
/* Section 1 */

.main-section {
  background-color: #2e2f42;
  display: flex;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) , url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

}

/* Section 2 */
.section{
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-about{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box-about{
display: flex;
gap: 24px;

}

.wrap-about-icon{
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #F4F4FD;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.icon-about{
  fill: #F4F4FD;
}



.list-about{
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.title-list-about {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 */

.our-wrap{
padding-top: 32px;
padding-bottom: 32px;
}

.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-third-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.box-section-two{
  padding-top: 120px;
  padding-bottom: 120px;
}

.box-team-list{
  display: flex;
  gap: 24px;
}

.list-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.our-portfolio-wrap{
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}


.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.list-icon-our{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.our-team-contact-link{
  background-color: #4D5AE5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team-contact-link:hover{
  background-color: #404bbf;
}

.our-team-contact-link:focus{
  background-color: #404bbf;
}

.our-icon-list{
  fill: #F4F4FD;
}


/* Section 4 */

.section-portfolio{
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-porfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.container-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px
}

 .portfolio-menu{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.portfolio-menu:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-our-portfolio-wrap{
  position: relative;
    overflow: hidden;
}

.portfolio-img-cover-wrap{
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text{
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu:hover .portfolio-cover-text{
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
  }

.img-portfolio{
    border-radius: 0px 0px 4px 4px;

  }

.item-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;

}

.portfolio-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.content-in-portfolio{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-wrap{
  display: flex;
}

.footer-logo-wrap{
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  margin-right: 120px
}

.footer-content {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display:inline-block;
  margin-bottom: 16px;
}

.footer-part-logo {
  color: #f4f4fd;
}

.social-media-footer {
  display: flex;
  align-items: flex-start; 
  justify-content: left;
  margin-left: 120px;
  flex-direction: column;
}


.social-content {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list-icons{
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-icons-item{
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-contact-link:hover{
  background-color: #31D0AA;
}

.footer-contact-link:focus {
  background-color: #31D0AA;
}
.icon-list{
fill: #F4F4FD;
}